extends header-footer 

append script 
  script(src="/javascript/application.js" type="module")
  script(src="/javascript/logo-handling.js" type="module")

append stylesheet 
  link(rel="stylesheet" href="/stylesheets/forms.css")

block main 
  main 
    h2= event.title
    h3= TEXTS.editEventHeading

    form(action=`/event/${event.id}/edit` method="post")
      dl 
        dt 
          label.bold-text(for="eventTitle")= TEXTS.eventTitle
        dd 
          input(type="text" 
                id="eventTitle" 
                name="eventTitle"
                value=event.title
                placeholder=TEXTS.eventTitlePlaceholder
                maxlength=100 
                required)    

        dt 
          label.bold-text(for="eventDayOfWeek")= TEXTS.eventDayOfWeek
        dd 
          select(name="eventDayOfWeek" required)
            each val, index in TEXTS.weekArray
              if index === event.dayofweek 
                option(selected value=index)= val 
              else
                option(value=index)= val 

        dt 
          label.bold-text(for="eventTime")= TEXTS.eventTime
        dd 
          input(type="time" 
                id="eventTime" 
                name="eventTime" 
                value=event.eventtime
                required)

        dt 
          label.bold-text(for="eventTimeZone")= TEXTS.eventTimeZone
        dd
          input(type="text"
                name="eventTimeZone"
                value=event.timezone
                disabled)

        dt 
          label.bold-text(for="eventInfo")= TEXTS.eventInfo
        dd 
          textarea(rows=3 
                  maxlength=300
                  id="eventInfo" 
                  name="eventInfo" 
                  placeholder=TEXTS.eventInfoPlaceholder)=event.info

      #logoselection 
        dl 
          dt 
            label.bold-text(for="eventLogoFile")= TEXTS.eventLogo
          dd 
            input(type="file" id="eventLogoFile" name="eventLogoFile" accept="image/*")
        img(src=event.logourl id="eventLogo" width="125px")


      input(type="hidden" id="eventId" name="eventId" value=event.id)
      input(type="hidden" id="eventLogoURL" name="eventLogoURL" value=event.logourl)

      input(type="submit" value=TEXTS.updateEvent class="btn")