extends layout 

block title 
  title= `${event.title} | ThrSqr`

block script
  script(src="/javascript/push.js" type="module") 
  script(src="/javascript/application.js")

block manifest 
  link(rel="manifest" href=`/site/webmanifest/${event.id}`)

block main 
  - var week = TEXTS.weekArray
  div#eventTitleBlock
    img(src=event.logourl id="eventLogo" width="125px")
    div#headings
      h1= event.title
      h2 #{TEXTS.eventEvery} <span id="eventDay"></span> #{TEXTS.eventAt} <span id="eventTime"></span>

  h3(data-nexteventtime=nextEventTime) #{TEXTS.nextOn} <span id="nextDate"></span>
  p= event.info ? event.info : ""

  section(id="responses")
    if going > 0
      h2.there #{TEXTS.there} - #{going}
      each response in responses 
        if response.there === true 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post" class="delete")
            p <strong>#{response.username}</strong> #{response.comment}
              button
    if notGoing > 0
      h2.square #{TEXTS.square} - #{notGoing}
      each response in responses 
        if response.there === false 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post" class="delete")
            p <strong>#{response.username}</strong> #{response.comment}
              button

  form(action=`/event/${event.id}` method="post")
    dl
      dt 
        label(for="username") Name
      dd 
        input(type="text" 
              id="username" 
              name="username" 
              placeholder="Name" 
              value=username 
              maxlength=50 
              required)
      dt 
        label(for="comment") #{TEXTS.comment} (optional)
      dd
        textarea(rows=3 
                  maxlength=150
                  id="comment" 
                  name="comment" 
                  placeholder=TEXTS.comment)
      dt 
        label= TEXTS.illBe
      dd
        button(formaction=`/event/${event.id}/1` id="there")=TEXTS.there
        button(formaction=`/event/${event.id}/0` id="square")=TEXTS.square
  section(id="subscriptions")