extends layout 

block title 
  title=`${event.title} | There or Square`

block main 
  - var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  h1= event.title
  h2= `Every ${week[event.dayofweek]} at ${event.eventtime.substring(0,5)}`
  p= event.info 

  section 
    form(action=`/event/${event.id}` method="post")
      dt 
        label(for="username") Your name
      dd 
        input(type="text" 
              id="username" 
              name="username" 
              placeholder="Name" 
              value=username 
              required)
      dt 
        label I'll be...
      dd
        button(formaction=`/event/${event.id}/1`) THERE
        button(formaction=`/event/${event.id}/0`) SQUARE
      dt 
        label(for="comment") Comment (optional)
      dd
        textarea(rows=3 
                 maxlength=150
                 id="comment" 
                 name="comment" 
                 placeholder="Comment")=comment

  section 
  h2 Going: #{going}
  ol(type="1")
    each response in responses 
      if response.there === true 
        li 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post")
            p=response.username
              button remove
            p=response.comment
  h2 Not going
  ul 
    each response in responses 
      if response.there === false 
        li 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post")
            p=response.username 
              button remove
            p=response.comment
