extends layout 

block title 
  title=`${event.title} | ThrSqr`

block manifest 
  link(rel="manifest" href=`/site/webmanifest/${event.id}`)

block main 
  - var week = TEXTS.weekArray
  h1= event.title
  h2 #{TEXTS.eventEvery} #{week[event.dayofweek]} #{TEXTS.eventAt} #{event.eventtime.substring(0,5)} <span id="timezoneinfo">(#{TEXTS.timezone}: #{event.timezone})</span>
  h3 #{TEXTS.nextOn} #{nextDate}
  p= event.info ? event.info : ""
  form(action=`/event/${event.id}` method="post")
    dt 
      label(for="username") Name
    dd 
      input(type="text" 
            id="username" 
            name="username" 
            placeholder="Name" 
            value=username 
            required)
    dt 
      label(for="comment") #{TEXTS.comment} (optional)
    dd
      textarea(rows=3 
                maxlength=150
                id="comment" 
                name="comment" 
                placeholder=TEXTS.comment)=lastComment
    dt 
      label= TEXTS.illBe
    dd
      button(formaction=`/event/${event.id}/1` id="there")=TEXTS.there
      button(formaction=`/event/${event.id}/0` id="square")=TEXTS.square
  section(id="responses")
    if going > 0
      h2 #{TEXTS.there} - #{going}
      each response in responses 
        if response.there === true 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post" class="delete")
            p <strong>#{response.username}</strong> #{response.comment}
              button
    if notGoing > 0
      h2 #{TEXTS.square}
      each response in responses 
        if response.there === false 
          form(action=`/event/${event.id}/remove/${response.part_id}` method="post" class="delete")
            p <strong>#{response.username}</strong> #{response.comment}
              button
