extends layout 

block title 
  title=`${eventTitle} | ThrSqr`

block script-application

block main 
  h1= eventTitle 
  h2 Verbreite diesen Link zu deiner Veranstaltung:
  p
    a(href=`/event/${slug}/${eventId}`)= `${origin}/event/${slug}/${eventId}`
  h3 Bitte beachte:
  ul 
    li Jeder, der diesen Link hat, kann die Liste der Zu- und Absagen lesen und verändern und gegebenenfalls auch die Angaben zur Veranstaltung ändern.
    li Kopiere Dir den Link an einen sicheren Ort, oder setze Dir ein Lesezeichen dorthin.  
    li Die Zu- und Absagen werden eine Stunde nach Beginn der Veranstaltung gelöscht. 
    li Die Veranstaltung wird gelöscht, wenn drei Monate lang keine Aktivität bemerkt wird. 
  h3 Veranstaltungsdetails bearbeiten 
  p Um an Deiner Veranstaltung etwas zu ändern (anstatt eine neue aufzusetzen) nutze diesen Link:
  p
    a(href=`/event/edit/${eventId}`)= `${origin}/event/${eventId}/edit`
  p Achtung: Seltsame Dinge können eventuell mit der Antwortliste passieren, wenn Du Uhrzeit oder Wochentag änderst. Vielleicht auch nicht.

  h2 
    a(href=`/event/${eventId}`) Zur Veranstaltung
