extends layout 

block title 
  title=`${eventTitle} | ThrSqr`

block script-push

block script-application

block main 
  h1= eventTitle 
  h2= TEXTS.shareLink
  p
    a(href=`/event/${slug}/${eventId}`)= `${origin}/event/${slug}/${eventId}`
  h3= TEXTS.pleaseNote
  ul!= TEXTS.caveats
  h3= TEXTS.editEventHeading
  p= TEXTS.editEventLink
  p
    a(href=`/event/edit/${eventId}`)= `${origin}/event/${eventId}/edit`

  h2 
    a(href=`/event/${eventId}`)= TEXTS.goTOEvent
