extends layout 

block script-push

block main 
  h1= TEXTS.newEventHeading
  form(action="/event/new" method="post")
    dl 
      dt 
        label(for="eventTitle")= TEXTS.eventTitle
      dd 
        input(type="text" 
              id="eventTitle" 
              name="eventTitle"
              placeholder=TEXTS.eventTitlePlaceholder
              maxlength=100 
              required)    
      dt 
        label(for="eventDayOfWeek")= TEXTS.eventDayOfWeek
      dd 
        select(name="eventDayOfWeek" required)
          each val, index in TEXTS.weekArray
            option(value=index)= val 
      dt 
        label(for="eventTime")= TEXTS.eventTime
      dd 
        input(type="time" 
              id="eventTime" 
              name="eventTime" 
              required)
      dt 
        label(for="eventTimeZone")= TEXTS.eventTimeZone
      dd
        input(type="text"
              id="eventTimeZone"
              name="eventTimeZone"
              value=""
              readonly)
      dt 
        label(for="eventInfo")= TEXTS.eventInfo
      dd 
        textarea(rows=4 
                 maxlength=300
                 id="eventInfo" 
                 name="eventInfo" 
                 placeholder=TEXTS.eventInfoPlaceholder)
        input(type="text" id="email" name="email" placeholder="email address" maxlength=100)
        input(type="text" id="message" name="message" placeholder="message" maxlength=100)

    input(type="submit" value=TEXTS.createEvent)
