extends layout

block script-application

block script-push

block headerlinks 
  <a href="/">Home</a> | <span class="headerlinks"><a href="/reset/user">#{TEXTS.resetUserData}</a>

block main 
  h1 Sign in for superuser privileges.
  form(action="/superuser/signin" method="post")
    dl 
      dt 
        label(for="username") Username
      dd 
        input(type="text" 
              id="username" 
              name="username"
              placeholder="Username"
              maxlength=100 
              value=username 
              required)    
      dt 
        label(for="password") Password
      dd 
        input(type="password" 
              id="password" 
              name="password"
              placeholder="Password"
              maxlength=100 
              required)    

    input(type="submit" value="Sign in, superuser!")


block footer