doctype html 

html(lang="en-UK")

  head 
    meta(charset="UTF-8")

    block title
      title ThrSqr - Are you There or are you Square?

    block script

    link(rel="stylesheet" href="/fonts/stylesheet.css")
    link(rel="stylesheet" href="/stylesheets/normalize.css")
    link(rel="stylesheet" href="/stylesheets/application.css")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    block manifest

    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(name="author" content="Marc Hermann")
    meta(name="description" content="ThrSqr - RSVP tracker for weekly events and friendly people.")

  body(data-language=language)
 
    header 
      block headerlinks 
        <a href="/">Home</a> | <a class="smalllinks" href="/change-language">#{TEXTS.changeLanguage}</a>

    main 
      - let msgTypes = Object.keys(flash || {});
      if msgTypes.length > 0
      ul 
        each msgType in msgTypes 
          each message in flash[msgType] 
            li.flash(class=type)= message 

      block main 

  block footer
    footer 
      p!= TEXTS.disclaimer
      p
        <a href="/change-language">#{TEXTS.changeLanguage}</a> | <a class="smalllinks" href="/reset/user">#{TEXTS.resetUserData}</a> | <a class="smalllinks" href="/superuser">Admin</a>